System Telegram/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "10887c4a-204c-4fca-8d34-23fd42d4d29e",
      "name": "Telegram Trigger",
      "webhookId": "7ebff0b1-c7e0-4949-9ee0-89068984b94e",
      "credentials": {
        "telegramApi": {
          "id": "hSCVYOCmIqhVoEqg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "\"You are an intelligent workflow coordinator that processes user requests from Telegram and executes appropriate actions across multiple services. You maintain conversation context and determine the user's intent to route tasks correctly.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "7e68a646-538b-43ef-b9b6-c925b5e8f7cb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        256
      ],
      "id": "4de28a93-f8b3-47be-b160-fd98434dcbd1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_ho2qemT8TkXxhf1c2XYWTwE-kyZ85Z4Y_mAYpB2KOk",
          "mode": "list",
          "cachedResultName": "calendar automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_ho2qemT8TkXxhf1c2XYWTwE-kyZ85Z4Y_mAYpB2KOk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_ho2qemT8TkXxhf1c2XYWTwE-kyZ85Z4Y_mAYpB2KOk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        608,
        224
      ],
      "id": "761e781a-0f3e-421a-888e-8927eddc34d3",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MQlIizDsV9YBLglm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        768,
        176
      ],
      "id": "cc1fda40-8d7d-4755-a863-3223dd19a866",
      "name": "Send a message in Gmail",
      "webhookId": "9070a905-ebd6-4fae-b2e9-db2b0076d017",
      "credentials": {
        "gmailOAuth2": {
          "id": "8N6TsUQGAccnekyn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "saiftounsi.facebook@gmail.com",
          "mode": "list",
          "cachedResultName": "saiftounsi.facebook@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}",
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees1_Attendees', ``, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        464,
        240
      ],
      "id": "a3869cfd-78ea-4d07-afb6-2253db85f872",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "VVBYOHV24XBMCgf6",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        -80
      ],
      "id": "b019fbf2-ad54-463a-a3f9-aa3105193e79",
      "name": "Send a text message",
      "webhookId": "32dd7053-02e4-4af3-82ad-150ac58e30b7",
      "credentials": {
        "telegramApi": {
          "id": "hSCVYOCmIqhVoEqg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        96,
        208
      ],
      "id": "c7af97af-2bf5-44f6-b2b5-4a9af99e8db4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "HlBzLZ8XgUctuxfL",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "df39bef2-6967-4321-8617-4eb422281303",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e94a484bed799fc7f3c63b108664dfe18bfd4dbe060b40399b477e5224c99877"
  },
  "id": "YWBT8qgnaSc9xxDQ",
  "tags": []
}
